<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/_/img/logo-color.svg">
        <span class="title">壹沓科技</span>
      </div>
      <div class="desc">以AI驱动商业数据挖掘</div>
    </div>
    <router-outlet></router-outlet>
    <app-global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2017
      <a href="//github.com/cipchk" target="_blank">卡色</a>出品
    </app-global-footer>
  </div>
</div>
