@import '../../../../styles/variable';
//
//:host {
//  display: block;
//  width: 368px;
//  margin: 0 auto;
//  ::ng-deep {
//    .ant-tabs .ant-tabs-bar {
//      border-bottom: 0;
//      margin-bottom: 24px;
//      text-align: center;
//    }
//    .ant-tabs-tab {
//      font-size: 16px;
//      line-height: 24px;
//    }
//    .ant-tabs-tab-active {
//      font-weight: 400;
//    }

//  }
//}

:host {
  display: block;
  width: 368px;
  margin: 0 auto;
  ::ng-deep {
    .ant-tabs .ant-tabs-bar {
      border-bottom: 0;
      margin-bottom: 24px;
      text-align: center;
    }
    .ant-tabs-tab {
      font-size: 16px;
      line-height: 24px;
    }
    .ant-input-affix-wrapper .ant-input:not(:first-child) {
      padding-left: 34px;
    }
    .ant-tabs-content {
      padding: 5px;
    }
    .ant-tabs-tab-active {
      font-weight: 400;
    }
    .icon {
      font-size: 24px;
      color: rgba(0, 0, 0, 0.2);
      margin-left: 16px;
      vertical-align: middle;
      cursor: pointer;
      transition: color 0.3s;
      &:hover {
        color: @primary-color;
      }
    }
    .other {
      text-align: left;
      margin-top: 24px;
      line-height: 22px;
      nz-tooltip {
        vertical-align: middle;
      }
      .register {
        float: right;
      }
    }
  }
}
